
.navbar-fixed    {
    background-color: #005493;
    width: 100%;
    height: 70px;
    position: fixed;
    top:0px;
    z-index: 100;
    
}

#return {
    height: 70px;
    background-image: url(../images/back-icon.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 200;
}
#back {
    width: auto;
    position: relative;
    bottom: 15px;
    overflow: auto;
    margin-left: 70px;
}

h5 {
    line-height: 70px;
    width: 25%;
    color: #F5F5F5;
    font-family: 'Alegreya', serif;
    font-size: 14px;
    font-style: italic;
    float: left;
    display: inline;
}

.menu-wrapper   {
    
    width: 100%;
    height: 100%;
    float: right;
    display: inline-block;
    position: absolute;
    right: 0px;
    top:0px;
}

#wrapper {
    
    width: 900px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    
    width: 33%;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    position: relative;
    background-color: #005493;
    
 
    
}

.item:hover {
    
    background-color: #004376;
}

.item:active {
    
    background-color: #004376;
}

.item > p {
    
    text-align: center;
    font-family: 'roboto slab', serif;
    font-size: 20px;
    font-weight: lighter;
    color:#FAFAFA;
}



.menu-item {

    width: 4900px;
    display: inline;
    line-height: 70px;
    height: 100%;
    font-family: 'Roboto Slab';
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
    
    

}










