body {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: auto;
}
body,
html {
    margin: 0;
    height: 100%;
}
p {
    font-family: 'Alegreya', serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2.5em;
}


br {
    line-height: 1.5em;
}

h2  {font-family: 'alegreya sc', serif;}
h3 {
    font-size: 20px;
    font-family: 'Alegreya SC', serif;
    margin-left: 10px;
}


h4  {text-align: left;font-size: 13px;}

.container-hype {
    width: 1024px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:30px;
    background-repeat: no-repeat;
    background-position: center;
}

#logo {
    width: 1024px;
    height: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom:280px;
    background-image: url(../images/ts-eliot.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 88;
}
#picture {
    width: 358px;
    height: 512px;
    margin-left: 30px;
    background-image: url("../images/picture.png");
    float: left;
}
#small {
    width: 358px;
    height: 300px;
    margin-left: 30px;
    background-color: #4fa5d6;
    color: white;
    float: left;
    font-size: 20px;
    overflow: scroll;
}

#small > p {font-size: 16px; margin-bottom: .2em;}
#text {
    width: 400px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 600px;
    text-align: justify;
}
#poem {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
}
.content {
    background-color: transparent;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#content-home {
    background-color: #f5f5f5;
    width: 900px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#content-animation {
    background-color: #f5f5f5;
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#content-poem {
    background-color: #f5f5f5;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 220px;
    padding-bottom: 10px;
}

#content-more {
    background-color: #f5f5f5;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 30px;
    position: relative;
    bottom: 150px;
}

#context {width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;}
.navbar {
    background-color: green
}
.navbar-default {
    background-color: green
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #005493;
    color: #F5F5F5;
    font-weight: bold;
}
.nav-tabs>li>a {
    background-color: #428bca;
    color: #F5F5F5;
}
.notification   {
    width: 500px;
    height: 200px;
    background-color: grey;
    position: relative;
    
}

.hint {
    color: #e58100;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}


.hint:hover {
    color: white;
    background-color: #e58100;
    text-decoration: none;
    -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}



.hint:active {
    color: white;
    background-color: #e58100;
    font-weight: bolder;
    text-decoration: none;
}
.hint:focus {
    color: white;
    background-color: #e58100;
    font-weight: bolder;
    text-decoration: none;
    
    
}

.tab    {
    
    width: 50px;
    text-align: center;
    border-radius: 0px;
}

.tab:hover    {
    
   background-color: #005493;
    color:#FAFAFA;
}

.tab-inactive    {
    
    width: 50px;
    text-align: center;
    border-radius: 0px;
}


.tab-inactive:hover    {
    
    color: #005493;
}

.tooltip-inner  {
    max-width:300px;
}

.popover  {
    max-width:400px;
}

.popover-title{
    
    font-family: 'alegreya', serif;
    font-size: 16px;
    line-height: 20px;
        
}

#drysavages   {
    
    background-image: url("http://2.bp.blogspot.com/_Kw64uJ7yE8I/TOGOXvjxgrI/AAAAAAAAADA/dmKYhzQAXqk/s1600/The-Dry-Salvages.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#krishna   {
    
    background-image: url("http://www.bhaktiyoga.com/files/images/krishna342x360.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cluetip-title  {
    height: 38px;
    background-color: #005493;;
}    




#tip{font-size: 16px;}






















@media screen and (max-width: 1024px) {
    .content {
        width: 100%;
    }
    #content-home {
        width: 80%;
    }
}
@media screen and (min-width: 1024px) {
    .content {
        width: 1024px;
    }
    #content-home {
        width: 900px;
    }
}